---
---

@import 'minima';

pre,
code {
  background-color: #f9fbfd;
  margin-bottom: 2rem;
}

code {
  padding: 0.15rem 0.6rem;
  line-height: 1.5rem;
}

pre {
  padding: 1rem;
}

p {
  font-size: 1.15rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}

a {
  color: #16b7ff;

  &:visited {
    color: #bdbdbd;
  }

  &:hover {
    text-decoration: none;
  }
}

.post-list-heading,
.rss-subscribe {
  display: none;
}

.site-header {
  border-top: none;
  border-bottom: none;
  margin-top: 4rem;
}

.site-title {
  font-size: 3rem;
}

.post-title {
  font-weight: 700;
  font-size: 4rem;
}

.post-link {
  font-size: 2rem;
  font-weight: 700;
  color: #000000;
}

.post-content {
  h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }
}

.highlighter-rouge {
  color: #e60345;
}
